<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mdg.iitr.campusbuddy"
    android:versionCode="2"
    android:versionName="1.0.1"
    android:installLocation="auto" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="18" />

    <application
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        >
        <activity
            android:name="mdg.iitr.splash.StandardSplash"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="mdg.iitr.campusbuddy.MainPage"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <!-- android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" --> 
            <intent-filter>
                <action android:name="in.co.sdslabs.iitr.Multi.MAINPAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="mdg.iitr.campusbuddy.TabPage"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="in.co.sdslabs.iitr.Multi.TABPAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="mdg.iitr.campusbuddy.SimpleCalendarViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="in.co.sdslabs.iitr.Multi.CALENDAR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="mdg.iitr.campusbuddy.Table"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="in.co.sdslabs.iitr.Multi.TIMETABLE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="mdg.iitr.campusbuddy.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="in.co.sdslabs.iitr.Multi.ALARM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="mdg.iitr.campusbuddy.SecondActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="test.pkr.namespace.SECOND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="mdg.iitr.campusbuddy.Instructions"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="in.co.sdslabs.iitr.Multi.INSTRUCTIONS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="mdg.iitr.campusbuddy.Aboutus"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="in.co.sdslabs.iitr.Multi.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name="mdg.iitr.campusbuddy.ScheduleService" />
        <service android:name="mdg.iitr.campusbuddy.NotifyService" />
<activity
            android:name="mdg.iitr.campusbuddy.Own"
            android:label="@string/app_name" 
            android:theme="@style/Theme.Sherlock.Light">
            <intent-filter>
                <action android:name="in.co.sdslabs.iitr.Multi.OWN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
       	
		           <activity
            android:name="mdg.iitr.campusbuddy.Dummy"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="in.co.sdslabs.iitr.Multi.DUMMY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
           <activity
            android:name="mdg.iitr.campusbuddy.TimeTableActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light"
             >
            <intent-filter>
                <action android:name="in.co.sdslabs.iitr.Multi.TIMETABLE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		           
        
        
        <activity
            android:name="mdg.iitr.campusbuddy.AlarmReceiverActvity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="in.co.sdslabs.iitr.Multi.ALARMRECEIVERACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="mdg.iitr.campusbuddy.Seenote"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="in.co.sdslabs.iitr.Multi.SEENOTE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
            <activity
            android:name="mdg.iitr.campusbuddy.Attendance"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="in.co.sdslabs.iitr.Multi.ATTENDANCE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>